*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  text-align: center;
  a{
    text-decoration: none;
    color: black;
  }
}

button{
  padding:0.5rem;
  width: 45%;
  border-radius: 4px;
  border: none;
  transition: all 0.7s;
  cursor: pointer;
  color:  white;
  background-color: lightskyblue;
  &:hover{
    color:  gray;
    background-color: lightblue;
  }
}
button#login{
  width: 7rem;
}

.pricing{
  width: 150%;
}

#main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em;
  #logs{
    display: flex;
    flex-direction: row;
    a{
      padding: 0.25em;
    }
  }
  #logo-wrapper{
    display: flex;
    align-items: center;
  }
  #logo{
    width: 50%;
  }
  #main-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    ul{
      list-style: none;
      display: flex;
      gap: 1.25em;
    }
    a{
      display: flex;
      text-decoration: none;
      color: grey;
      font-weight: 500;
      flex-direction: row;
      width: 7rem;
      height: 4rem;
      justify-content: center;
      align-items: center;
      &:hover{
        transition: all 0.7s;
        cursor: pointer;
        transform: scale(1.01);
        color: black;
        background-color: grey;
      }
    }
    a.active{
      font-weight: bold;
      color: black;
    }
  }
}

#main-content{
  width: 100%;
  border-top: 2px solid black;
  padding: 2.5em;
  .card-container{
    width: 100%;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    .card{
      gap: 0.5rem;
      transition: all 0.7s;
      cursor: pointer;
      justify-content: flex-start;
      min-height: 480px;
      &:hover{
        border-radius: 4px;
        border: 1px solid black;
        transform: scale(1.1);
      }
      h3,p,img{width: 100%;}
    }
  }
  #banner{
    width: 100%;
    height: 30rem;
    background-image: url('../img/banner_oracle.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    gap: 1.5rem;
    font-size: 1.25em;
    
    h1{
      text-transform: uppercase;
    }
    h1,p{
      color: white;
      border-radius: 4px;
      padding: 0.5rem;
    }
  }
  #intro{
    width: 100%;
    h2{
      color: lightskyblue;
      font-size: 3rem;
    }
    .card{
      width: 30%;
    }
  }
  #features{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    #points{
      width: 30%;
      text-align: center;
      img{
        width: 50%;
      }
    }
  }
  #pricing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div{
      border: 2px solid gray;
      padding: 8rem;
      border-radius: 2rem;
    }
  }
  #support{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
      "form contacts"
      "form map";
    #form{
      display: flex;
      flex-direction: column;
      width: 90%;
      grid-area: form;
    }
    #contact{
      display: grid;
      border: 2px solid lightblue;
      grid-area: contacts;
    }  
    #map{
      grid-area: map;
      width: 40rem;
    }
  }
}

#main-footer{
  border-top: 2px solid black;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  position: relative;
  bottom: 0;
  div{
    font-size: 1.1rem;
  }
  #social-networks, #legal{
    flex-direction: row;
    gap: 0.5rem;
    a{
      text-decoration: none;
      color: black
    }
    #legal{
      display: flex;
      flex-direction: row;
      
    }
  }
}
